<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.androidstudio.motionlayoutexample">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ml_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ml_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DemoActivity"/>
        <activity android:name=".viewpagerdemo.ViewPagerActivity"/>
        <activity android:name=".viewpagerdemo.ViewPagerActivity2"/>
        <activity android:name=".FragmentExampleActivity"/>
        <activity android:name=".FragmentExample2Activity"/>
    </application>

</manifest>